* text=auto eol=lf

Cargo.lock merge=binary linguist-language=TOML linguist-generated=true -diff
uv.lock    merge=binary linguist-language=TOML linguist-generated=true -diff
bun.lock   merge=binary linguist-language=JSON linguist-generated=true -diff
